@import url("../css/fonts.css");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow: hidden; */
    
    /* background:#ccc; */
}


/* ---------variables---------- */
:root{

    /* ---colors---- */
    --text-grey:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

/* -----------garadient---- */
--sky:linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);

/* ---font-family------ */

--Abel:'Abel',cursive;
--Anton:'Anton',cursive;
--Josfin:'Josfin',cursive;
--Lexend:'Lexend',cursive;
--Livvic:'Livic',cursive;

}

/* ----------------LOADER--------------------- */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .loader{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    position: relative;
  }
  
  .loader   .loader-inner-1,
  .loader   .loader-inner-2,
  .loader   .loader-inner-3,
  .loader   .loader-inner-4{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
  }
  
  .loader   .loader-inner-1::before,
  .loader   .loader-inner-2::before,
  .loader   .loader-inner-3::before,
  .loader   .loader-inner-4::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 2s;
  }
  
  
  .loader .loader-inner-1{
    top: 0;
    left: 0;
    transform: rotate(70deg);
  }
  
  .loader .loader-inner-1::before{
  background: #06aed5;
  }
  
  
  .loader .loader-inner-2{
    top: 0;
    right: 0;
    transform: rotate(160deg);
  }
  
  .loader .loader-inner-2::before{
   background: #ec008c;
  }
  
  .loader .loader-inner-3{
    bottom: 0;
    right: 0;
    transform: rotate(-110deg);
  }
  
  .loader .loader-inner-3::before{
   background: #ffbf00;
  }
  
  .loader .loader-inner-4{
    bottom: 0;
    left: 0;
    transform: rotate(-20deg);
  }
  
  .loader .loader-inner-4::before{
   background: #079c00;
  }
  
  @keyframes loading{
    0%{
      width: 20;
      right: 0;
    }
    30%{
      width: 120;
      right: -100px;
    }
    60%{
      width: 20px;
      right: -100px;
    }
  }
  
  
  /* ------X----------LOADER----------X----------- */

h2{
    font-family: var(--Lexend);
}
/* nav-bar */
.nav-bar{
    width: 100%;
    padding: 0 2;
    height: 0rem;
    min-height: 10vh;
    background-color: #fff;
    justify-content: space-between;
    color:var(--text-grey);
    overflow: hidden;
    
}

.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blooger-icon{
    background-color: #fff;
    padding: 1.6rem 6rem;
    display: block;
    
}

.blooger-text{
    text-decoration: none;
    font-size: 1.6rem;
    background-color: #fff;
    font-family: var(--Lexend);
    color:var(--text-grey);
    position: absolute;
}

.toggle{
    width: 92%;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: none;
    

}
.toggle .menu-icon{
    display: flex;
    justify-content: flex-end;
    padding:2rem 0;
    

}

.toggle .menu-icon i{
    font-size: 1.4rem;
    color: var(--text-grey);
}
.collapse{
    min-height: 34rem;
}


nav{
    width: 100%;
    
}

nav ul{
    display: flex;   
    list-style: none;
    
}

.nav-links nav ul li{
    padding: 1.6rem 1rem;
    
}
.nav-links nav ul li:hover{
    background-color: var(--midnight);
    
}
.nav-links nav ul li a{
    text-decoration: none;
    font-size : 1.1rem;
    position: relative;
    color: #3f4954;
    font-family: var(--Abel);
    
}
.nav-links nav ul li:hover a{
    color: var(--white);
}

.social-menu{
    padding:1.6rem 1rem;
}

.social-menu .social-menu-list a{
    text-decoration: none;
    color:var(--text-grey);
}
.social-menu .social-menu-list a i{
    padding: 2px;
}
.social-menu .social-menu-list a i:hover{
    color: #a1c4fd;
}

/* ----x------navbar---------x */

/* -----landing-page--------- */
.landing-page{
    background: url(../images/Background-image.png) ;
    background-size: cover;
    height: 111vh;
    display: flex;
    justify-content: center;
    
}

.landing-page .wallapaper{
    padding-top:10rem;
    text-align: center;
    color: var(--white);
    font-family: var(--Lexend); 
}


.landing-page .wallapaper button{
    padding: 1rem 3rem;
    border-radius: 1.3rem;
    width: 9rem;
    margin-top: 2rem;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    background: var(--sky);
    
}
.landing-page .wallapaper button:hover{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);

}

.landing-page .wallapaper h1{
    font-size: 2.6rem;
    font-weight: 700;

}
.landing-page .wallapaper h3{
    font-size: 1.6rem;
    font-weight: 700;

}







/* --x---landing-page--x------- */

/* ------courcel-post----------- */
.slider{
    background: url('../images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right ;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

.container{
    margin: 0 5vw;
}

.posts{
    padding-top: 6rem;
}
.carousel-content{
    display: flex;
    width: 80%;
    text-align: center;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    flex-direction: column;
    scroll-behavior: auto;
    
}
.post-title{
    padding: 2rem;
}
.post-title h3{
    font-family: var(--Lexend);
    font-size: 1.2rem;
}

.btn{
    
    border-radius: 2rem;
    padding: 1rem 3rem;
    margin:1rem 1rem ;
    outline: none;
    border: none;
    background: var(--sky);
   
    cursor: pointer;

}

.btn:hover{
    background:#a1c4fd;
}

.post-title span{
    display: block;
    font-family: var(--Abel);

}

/* -------post-navigation-menu----- */
.owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .prev-btn,
.owl-nav .owl-next .next-btn{
    font-size: 2rem;
    outline: none;

}

.owl-theme .owl-nav [class*="owl-"]{
    outline: none;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background:transparent;
    color: #a1c4fd;
}

/* ---x----post-navigation-menu---x---- */

/* ----x--courcel-post-------x---- */

/* ---------Site-content---------- */
.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

.text-gray{
    color: var(--text-grey);
}

.blog-image , .blog-title{
    padding: 1rem 2rem;
    position:relative;  
}

.blog-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;

}

.blog-title a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--Anton);
}

.blog-title p{
    font-size: 1rem;
    padding:1rem .5rem ;
    font-family: var(--Lexend);
    color: var(--text-light);
}

.blog-image div{
    overflow: hidden;
}
.blog-image div img{
    width: 100%;
    transition: all 1s ease;

}
.blog-image div img:hover{
    transform: scale(1.3);

}
.blog-btn{
    padding: 1rem 1.5rem;
    border-radius: 0;
}

hr{
    width: 95%;
    margin-left: 1.5rem;
    
    
}

.pagination{
    justify-content: center;
    margin: 4rem 0;
    color: var(--text-grey);
}
.pagination .page_num{
    color: var(--white);
    background: var(--text-grey);
    border-radius: 2rem;
}
.pagination a{ 
    padding: .6rem .9rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
    color: var(--text-grey);
}

/* ------x---Site-content----x------ */
/* -------sidebar-------- */
.sidebar{
    padding: 2rem 0;

}
.sidebar h2{
    font-family: var(--Lexend);
}
.sidebar ul{
    list-style: none;
    padding: 1rem 2rem;
    font-family: var(--Livvic);
    
}

.sidebar ul li{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;

}
.sidebar ul li a{
    color: var(--bg-color);
}

.sidebar ul li a span{
    font-family: var(--Abel);
}



/* ------------popular-- posts----- */


.popular-post h2{
    padding-top:6rem ;
    padding-bottom: 2rem;
}
.popular-post .post-content{
    padding: 1rem 0;
}

.popular-post .post-content .blog-image{
    padding: 1rem 2rem;
}
.popular-post .post-content .blog-info{
    padding: .4rem 1.1rem !important;
    bottom: 0rem !important;
    left: 1rem !important;
    border-radius: 0rem !important;
    background: white !important;
}



.popular-post .post-content .blog-title a{

    font-size: 1rem !important;
    
}

.popular-post .post-content .blog-title{
    padding: 1rem 0rem 1rem 2rem!important;

}
.popular-img-3{
height: 11rem;
}

/* ---x--popular-posts----------x--- */

/* --------news letter---------- */

.news-letter{
    padding-top: 15rem;
}
.email-content{
    padding: .5rem 2rem;

    
}

.input-element{
    width: 70%;
    height: 1.6rem;
    padding: .3rem .5rem;
    font-size: 1rem;
    margin: 1rem 2rem;
    font-family: var(--Lexend);
}
.subscribe-btn{
   
    border-radius: 0rem;
    font-family: var(--Lexend);
    width: 75%;
    margin-left: 2rem;
}



/* -----x---news letter-------x--- */
/* ---------ppular tags ---------- */

.popular-tags{
    padding-top:7rem ;

}
.tags{

    padding-top: 2rem;
}

.a_tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
    text-decoration: none;
    color: var(--text-grey);
    font-family: var(--Livvic);
    font-size: .9rem;
    
}

/* ---x------ppular tags ----x------ */

/* ----x---side-bar--x------ */

/* -------footer-------- */
footer{
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .container > div{
    padding: 3rem .9rem;
    flex: 1 0 0;
    
    
}

footer .container h2{
    color: var(--white);
    padding-bottom: 1rem ;
}
footer .container p{
    color: var(--text-light);
    font-family: var(--Lexend);
}
/* ---x---about us--x--- */
/* --------news-letter-footer------ */
footer .container .news-letter-footer p{
    padding-bottom: 1rem;
}
footer .container .news-letter-footer input{
    padding: .5rem .7rem;
    border: none;
    background: #fff;
    outline: none;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 65%;
}
footer .container .news-letter-footer button{
    color:#000;
    background: var(--sky);
    height: 2.6rem;
    width: 2rem;
    padding: .5rem .7rem;
    cursor: pointer;
    margin-left: -0.35rem;
    border: none;
    outline: none;
}
/* -----x---news-letter-footer---x--- */
/* --------instagarm------ */
.instagram .insta-pics img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;   
}

/* --x------instagarm---x--- */

/* -------follow-us--------- */
footer .container .follow-us .social-menu{
    padding: 1rem 0;
}
footer .container .follow-us .social-menu .social-menu-list a i{
    font-size: 1rem;
    padding: .4rem;
    color: var(--white);

}




/* ----x---follow-us----x----- */

/* ------copy-rights-------- */
.copy-rights{
    text-align: center;
    padding: 2rem;
}
.copy-rights h4{
    font-size: 1rem;
    font-family: var(--Lexend);
}
.copy-rights h4 a{
    color: var(--white);
}
/* ----x--copy-rights---x----- */

/* -----move up-------- */
footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}
footer .move-up span{
    color: var(--midnight);

}
footer .move-up span:hover{
    color: #fff;
    cursor: pointer;

}

/* ---x--move up----x---- */
/* ------x--footer--------- */


/* ---mediaquaries------ */
@media only screen and (max-width:1130px){
.blog-info{
    left: 2rem !important;
    bottom: 1.2rem;
    border-radius: 0 !important;
}

.popular-post .post-content .blog-info{

    display: none;
}

footer .container{
    grid-template-columns: 1fr 1fr;
}
.news-letter {
    padding-top: 8rem;
}

}

@media only screen and (max-width:990px){
    .slider {
        background: #fff;
    }
}

@media only screen and (max-width:790px){

    .site-content{
        grid-template-columns: 100%;

    }
    .news-letter {
        padding-top: 2rem;
    }
    
}



@media only screen and (max-width:750px){
    .nav-bar,.nav-links nav ul{
        flex-flow: column ;

    }
    .toggle{
        display: initial;
    }
    footer .container{
        grid-template-columns: 1fr;
    }
    nav{
        padding-top:4rem;
    }
}


@media only screen and (max-width:520px){

    .blog-info{
        display: none;
    
    }
    .slider {
        height: 120vh;
    }
    footer .container > div{
        padding: 1rem .9rem !important;
       
        
        
    }


}

@media only screen and (max-width:520px){
.blooger-icon{
    padding: 1rem 6rem;
}

.toggle .menu-icon{
    padding: 1.3rem 0rem;
}
}
